.book .book-body .page-wrapper .page-inner section.normal h1,
.book .book-body .page-wrapper .page-inner section.normal h2,
.book .book-body .page-wrapper .page-inner section.normal h3,
.book .book-body .page-wrapper .page-inner section.normal h4,
.book .book-body .page-wrapper .page-inner section.normal h5,
.book .book-body .page-wrapper .page-inner section.normal h6,
.book .book-body .page-wrapper .page-inner section.normal p,
.book .book-body .page-wrapper .page-inner section.normal blockquote,
.book .book-body .page-wrapper .page-inner section.normal a {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.book .book-body .page-wrapper .page-inner section.normal h1 {
    /*font-size: 22px;*/
    font-style: bold;
}
.book .book-body .page-wrapper .page-inner section.normal h2 {
    /*font-size: 17px;*/
    font-style: bold;
}
.book .book-body .page-wrapper .page-inner section.normal h3 {
    /*font-size: 15px;*/
    font-style: bold;
}
.book .book-body .page-wrapper .page-inner section.normal h4 {
    /*font-size: 12px;*/
    font-style: bold;
}
.book .book-body .page-wrapper .page-inner section.normal h5 {
    /*font-size: 11px;*/
    font-style: bold;
}
.book .book-body .page-wrapper .page-inner section.normal h6 {
    /*font-size: 11px;*/
    font-style: bold;
}

.book .book-body .page-wrapper .page-inner section.normal p,
.book .book-body .page-wrapper .page-inner section.normal a {
    /*font-size: 11px;*/
    font-style: normal;
    font-variant: normal;
}

.book .book-body .page-wrapper .page-inner section.normal blockquote {
    /*font-size: 10px;*/
    font-style: normal;
    font-variant: normal;
}


.book .book-body .page-wrapper .page-inner section.normal a {
    color: #0088CC;
}

.book .book-body .page-wrapper .page-inner section.normal code {
    color: #508187;
}

.book .book-body .page-wrapper .page-inner section.normal code .hljs-built_in {
    color: #508187;
}

.book .book-body .page-wrapper .page-inner section.normal code .hljs-keyword,
.book .book-body .page-wrapper .page-inner section.normal code .hljs-literal {
    color: #B833A1;
}

.book .book-body .page-wrapper .page-inner section.normal code .hljs-number {
    color: #1C00CF;
}

.book .book-body .page-wrapper .page-inner section.normal code .hljs-string {
    color: #C41A16;
}

.book .book-body .page-wrapper .page-inner section.normal code .hljs-subst {
    color: #508187;
}

.book .book-body .page-wrapper .page-inner section.normal code .hljs-comment {
    color: #008312;
}

.book .book-body .page-wrapper .page-inner section.normal code .hljs-type {
    color: #6F41A7;
}

.book .book-body .page-wrapper .page-inner section.normal code .hljs-class {

}

.book .book-body .page-wrapper .page-inner section.normal code .hljs-function {

}

.book .book-body .page-wrapper .page-inner section.normal code .hljs-title {

}

.book .book-body .page-wrapper .page-inner section.normal code .hljs-params {

}
